<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
		<ometria>
			<general>
				<enabled>1</enabled>
				<apikey></apikey>
				<privatekey></privatekey>
			</general>
			<advanced>
				<univar>1</univar>
				<ping>1</ping>
				<debug>0</debug>
				<productmode>id</productmode>
                <use_configurable_image>0</use_configurable_image>
				<unique_id></unique_id>
                <override_memory>0</override_memory>
                <override_execution>0</override_execution>
			</advanced>
		</ometria>
	</default>
</config>
