<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ometriaLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Ometria\Core\Logger\Handler\Ometria</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Ometria\Core\Helper\Config">
        <arguments>
            <argument name="logger" xsi:type="object">ometriaLogger</argument>
        </arguments>
    </type>
</config>
