<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
		<tab id="ometria" translate="label" sortOrder="1000">
			<label>Ometria</label>
		</tab>
		<section id="ometria" translate="label" type="text" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Analytics Settings</label>
			<tab>ometria</tab>
			<resource>Ometria_Core::config_ometria</resource>
			<group id="general" translate="label" type="text" sortOrder="1020" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<frontend_model>Ometria\Core\Block\System\Config\Form\Fieldset\Modules\Group</frontend_model>
				<field id="enabled" translate="label" type="select" sortOrder="1030" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="apikey" translate="label" type="text" sortOrder="1040" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ometria Site Identifier</label>
					<comment>Sign up for an account at &lt;a href="http://www.ometria.com/" target="_blank"&gt;Ometria.com&lt;/a&gt;</comment>
				</field>
				<field id="privatekey" translate="label" type="text" sortOrder="1050" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ometria API Private Key</label>
					<comment>Log into your Ometria Account to find this key</comment>
				</field>				
<!-- 
				<field id="start_wizard" translate="label" type="" sortOrder="1050" showInDefault="1" showInWebsite="0" showInStore="0">
					<label />
					<button_label>Start Setup Wizard</button_label>
					<button_url>ometria/wizard/index</button_url>
					<frontend_model>Magento\Config\Model\Config\Source\Yesno</frontend_model>
					<comment>Click the above to easily setup your connection details between Magento and Ometria.</comment>
				</field>
 -->
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="1060" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced</label>
				<frontend_model>Ometria\Core\Block\System\Config\Form\Fieldset\Modules\Group</frontend_model>
				<field id="univar" translate="label" type="select" sortOrder="1070" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Include Data Layer</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="ping" translate="label" type="select" sortOrder="1080" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Ping Ometria on record update</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug" translate="label" type="select" sortOrder="1100" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Debug Mode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
<!-- 
				<field id="productmode" translate="label" type="select" sortOrder="1110" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Product Identifier Mode</label>
					<!~~ <source_model>Magento\Config\Model\Config\Source\Yesno</source_model> ~~>
					
					<source_model>Ometria\Core\Model\ConfigSourceProductIdentifierMode</source_model>
				</field>
 -->
				<field id="unique_id" translate="label" type="Ometria\Core\Data\Form\Element\Text\Disabled" sortOrder="1120" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Unique Magento ID</label>
					<comment>This will be auto-generated by the extension. Do not change.</comment>
				</field>
			</group>
		</section>
	</system>
</config>