<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
		<tab id="ometria" translate="label" sortOrder="1000">
			<label>Ometria</label>
		</tab>
		<section id="ometria" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Analytics Settings</label>
			<tab>ometria</tab>
			<resource>Ometria_Core::config_ometria</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<frontend_model>Ometria\Core\Block\System\Config\Form\Fieldset\Modules\Group</frontend_model>
				<field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="apikey" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ometria Site Identifier</label>
					<comment>Sign up for an account at &lt;a href="http://www.ometria.com/" target="_blank"&gt;Ometria.com&lt;/a&gt;</comment>
				</field>
				<field id="privatekey" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ometria API Private Key</label>
					<comment>Log into your Ometria Account to find this key</comment>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced</label>
				<frontend_model>Ometria\Core\Block\System\Config\Form\Fieldset\Modules\Group</frontend_model>
				<field id="univar" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Include Data Layer</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="ping" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Ping Ometria on record update</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Debug Mode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="preferred_product_attribute" translate="label" type="select" sortOrder="1120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Preferred Product Attribute</label>
                    <source_model>Ometria\Core\Model\Config\Source\PreferredProduct</source_model>
                    <comment>Select the configurable product attribute which defines the SKU of the preferred product variant.</comment>
                </field>
                <field id="use_configurable_image" translate="label" type="select" sortOrder="1130" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Configurable Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "yes" here to override using the preferred product's image if the configurable already has an image set.</comment>
                </field>
				<field id="unique_id" translate="label" type="Ometria\Core\Data\Form\Element\Text\Disabled" sortOrder="1140" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Unique Magento ID</label>
					<comment>This will be auto-generated by the extension. Do not change.</comment>
				</field>
                <field id="override_memory" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Override PHP 'memory_limit' value in API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="override_execution" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Override PHP 'max_execution_time' value in API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			</group>
		</section>
	</system>
</config>
