<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ometria\AbandonedCarts\Controller\Cartlink\Index">
        <arguments>
            <argument name="logger" xsi:type="object">ometriaLogger</argument>
        </arguments>
    </type>
</config>
